/* ==UserStyle==
@name           Wiki Black
@namespace      GrauGeist
@version        0.0.10
@homepageURL	https://github.com/GrauGeist/wiki-black
@updateURL		https://raw.githubusercontent.com/GrauGeist/wiki-black/master/wiki.user.css
@supportURL 	https://github.com/GrauGeist/wiki-black/issues
@description    Black Wikipedia.com
@author         GrauGeist

@preprocessor stylus

== colors ==
@var	color		bodyBg			'Body background'				#111
@var	color		blackBg			'Black background'				#000
@var	color		bluedBg			'Blued background'				#102
@var	color		inactiveBg		'Inactive background'			#223
@var	color		selectedBg		'Selected background'			#338
@var	color		basicTx			'basic Text'					#eee
@var	color		headerTx		'header Text'					#ddd
@var	color		urlColor		'URL Color'						#98f


==/UserStyle== */

@-moz-document domain("wikipedia.org") {
	:root {
		--bodyBg: bodyBg;
		--blackBg: blackBg;
		--bluedBg: bluedBg;
		--inactiveBg: inactiveBg;
		--selectedBg: selectedBg;
		--basicTx: basicTx;
		--headerTx: headerTx;
		--urlColor: urlColor;
	}
	
	/* ALL links */
	a {
		color: var(--urlColor) !important;
	}
	
	/* left & top nav */
	body, .noprint, .vertical-navbox, .navbox, .catlinks  {
		background: var(--bodyBg) !important;
		color: var(--basicTx);
	}
	
	/* main body */
	.mw-body {
		background: var(--blackBg) !important;
		color: inherit;
	}
	
	h1,h2 {
		color: var(--headerTx);
	}
	
	/* disable Banner */
	.cbnnr-main {
		display: none;
	}

	/* Tabs at top */
	.vectorTabs li {
		background-image: linear-gradient(var(--bodyBg), var(--inactiveBg));
	}
	.vectorTabs li a {
		color: #bbb;	
	}
	.vectorTabs li.selected {
		background-image: linear-gradient(var(--bodyBg), var(--selectedBg));
	}
	.vectorTabs li.selected a {
		color: var(--headerTx) !important;	
	}
	
	
	/* Wikitable */
	.wikitable {
		background-color: #111;
		color: #eee;
		tbody > tr > th {
			background-color: #102;
		}
	}
	
	/* Infobox */
	.infobox {
		background: var(--bodyBg);
		color: var(--headerTx);
		
		.summary album {
			background-color: #214 !important;
		}.description {
			background-color: #103 !important;
		}
	
		th[style] {
			background: #215 !important;
		}
		td[style*="background:#CCF"] {
			background: #437 !important;
		}
		td[style*="background:#EEF"] {
			background: var(--bluedBg) !important;
		}
	
	}
	
	/* tracklist */
	.tracklist {
		background: inherit;
		th {
			background-color: #222 !important;
		}
		tr[style*="background-color:#fff"] {
			background-color: #000 !important;
		}
		tr[style*="background-color:#f7f7f7"] {
			background-color: #111 !important;
		}
		span[style], td[style*="background-color:#eee"] {
			background-color: #000 !important;
		}
		
	}
	
	
	/* navbox at bottom */
	.navbox-title, .navbox-group, .navbox-abovebelow {
		background: #102 !important;
		border-color: #666 !important;
	}
	.navbox-even {
		background: #222 !important;
		border-color: #666 !important;
	}
	.navbox-odd {
		background: #111 !important;
		border-color: #666 !important;
	}
	
	
	/* Contents */
	.toc {
		background: var(--bodyBg);
		color: var(--headerTx);		
	}
	.toctitle h2 {
		color :var(--bodyTx);
	}
	.tocnumber {
		color: var(--headerTx);
	}

	/* inputs */
	.mwe-popups {
		background-color: #333;
	}
	a.mwe-popups-extract::after {
        background-image: linear-gradient(90deg, transparent, #333) !important;
    }

	/* inputs */
	#simpleSearch input {
		background-color: #222;
		color: inherit;
	}

	.pure-form input[type="search"] {
		background-color: #333;
	}
	
	.search-container .js-langpicker-label {
		color: #aaa;
	}
	
	/* language changer */
	.lang-list-button {
		outline: inherit;
		background-color: #222;
	}
}
